<!-- CONTENT ENDS HERE -->
  {{ if hasmath }}
      {{ insert foot_katex.html }}
  {{ end }}
  {{ if hascode }}
      {{ insert foot_highlight.html }}
  {{ end }}
  <script src="/libs/simple-scrollspy.min.js"></script>
  <script>
  window.onload = function () {
    scrollSpy('#navbarResponsive', {
      sectionClass: '.scrollspy',
      menuActiveTarget: '.nav-link',
      offset: 100
    })
  }
  </script>
  <script async src="https://static.getclicky.com/101363279.js"></script>
  <noscript><p><img alt="Clicky" width="1" height="1" src="https://in.getclicky.com/101363279ns.gif" /></p></noscript>
  </body>
</html>
